.Header {
    text-align: center;
    background-color: #282c34;
    width: 100vw;
}

.Header-display {
    margin: auto;
    padding: auto;
    min-height: 20vmin;
    width: 100%;
    max-width: 1080px;
    position: relative;
    top: 0;
    display: block;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Header-link {
    color: #61dafb;
}
