@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');

html {
  min-height: 100%;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto !important;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  margin-bottom: auto;
  font-family: 'M PLUS 1p', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* hue.css class:deepFocus */
  background-image: -webkit-linear-gradient(top, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
  background-image: linear-gradient(-180deg, #EBEBEB 0%, #DCDDDF 48%, #C4C5C7 99%);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

header {
  margin: 0;
  padding: 30px;
  min-height: 20vmin;
  width: 100%;
  position: absolute;
  top: 0;
}

main{
  margin: auto;
  max-width: 1080px;
  min-height: 100vh;
  padding: 30px;
}

footer{
  margin: auto;
  padding: 30px;
  height: 200px;
  width: 100%;
  max-width: 1080p;
  position: absolute;
  bottom: 0;
  background: #333333;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


header h2{
  font-size:120%; /*フォントサイズの調整*/
  color:#313131; /*文字色の変更*/
  padding-top: 10px; /*文字上部に余白*/
  padding-bottom: 10px; /*文字下部に余白*/
  padding-left: 20px; /*文字左側に余白*/
  padding-right: 20px; /*文字右側に余白*/
  border:1px solid #313131; /*文字の周りに線を描く*/
  border-radius: 5px; /*線の角に丸みを付ける*/
  letter-spacing: 3px; /*文字と文字の間隔をあける*/
  font-weight:400; /*文字の太さの変更*/
}

nav{
  width: 100%;    /*横幅の指定*/
  border-top: 1px solid #40739e;   /*上部の線の色を指定*/
  border-bottom: 1px solid #40739e;    /*下部の線の色を指定*/
  margin-bottom: 5px; /**/
  overflow: hidden;   /*おまじない*/
}

nav ul{
  margin-left: 20%;   /*左端から20%右側に動かす*/
}

nav li{
  width: calc(25% - 2px); /*横幅の指定（線の分をマイナスする）*/
  border-left: 1px solid #40739e;  /*線を描く*/
  text-align: center; /*文字を中央に*/
  float: left;    /*左から並べる*/
}

nav li:last-child{
  border-right: 1px solid #40739e; /*li要素の最後の物は右側に線を描く*/
}

nav a{
  display: block; /*1つのli全体にリンクを有効にする*/
  text-decoration: none;  /*ブラウザ標準のリンク装飾をオフに*/
  color:#313131;  /*文字色の変更*/
  font-size: 110%;    /*フォントサイズの指定*/
  letter-spacing: 5px;    /*文字と文字の間隔をあける*/
  font-weight: 400;   /*文字の太さを調整*/
  line-height: 45px;  /*行間の指定（ナビボタンの高さ指定）*/
}

nav a:hover{
  background-color: #40739e;   /*背景色の指定*/
  color: #fff;    /*文字色の変更*/
  transition: 0.5s;   /*ホバー時の動きをなめらかにする*/
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper{
  height: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
  box-sizing: border-box;
}

.btn-social-long-twitter {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #1da1f3;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-twitter .fa-twitter {
  text-shadow: 2px 2px 0px #4287d6;
  font-size: 30px;
}

.btn-social-long-twitter span {
  display:inline-block;
  transition: .5s;
}

.btn-social-long-twitter:hover span {
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.btn-social-long-facebook {
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: #4966a0;
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-facebook .fa-facebook {
  text-shadow: 2px 2px 1px #224282;
  font-size: 30px;
}

.btn-social-long-facebook span {
  /*テキスト*/
  display:inline-block;
  transition: .5s;
}

.btn-social-long-facebook:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.btn-social-long-insta {
  /*ボタンの下地*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: relative;
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-insta:before {
  /*グラデーション②*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}

.btn-social-long-insta .fa-instagram {
  /*アイコン*/
  font-size: 35px;/*アイコンサイズ*/
  position: relative;
  top: 4px;/*アイコン位置の微調整*/
}

.btn-social-long-insta span {
  /*テキスト*/
  display:inline-block;
  position: relative;
  transition: .5s}

.btn-social-long-insta:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateX(360deg);
  transform: rotateX(360deg);
}

.page {
  padding: 8px;
  min-height: 360px;
}

#page-01{
  background: #555;
  color:#FFF;
}

#branding{
  width: 60%; /*横幅指定*/
  margin-left: 20%; /*左端から20%右側に動かす*/
  background-color: #313131; /*背景色の指定*/
  overflow: hidden; /*おまじない*/
}

#branding p{
  color: #fff; /*文字色の変更*/
  font-size: 120%; /*フォントサイズの調整*/
  letter-spacing: 10px; /*文字と文字の間隔をあける*/
  line-height: 300px; /*行間の指定（ブランディングの高さを決める）*/
  padding-left: 3%; /*文字の左側に余白をあける*/
}